{
    "extends": [
        "stylelint-config-rational-order",
        "stylelint-stylus/standard"
    ],
    "plugins": [
        "stylelint-order",
        "stylelint-stylus"
    ],
    "rules": {
        "stylus/indentation": 4,
        "stylus/declaration-colon": "always",
        "stylus/semicolon": "always",
        "stylus/selector-list-comma": "always",
        "stylus/pythonic": "never"
    }
}
