fontFace('Inter', '@fonts/Inter/Inter-Thin', 100);
fontFace('Inter', '@fonts/Inter/Inter-ExtraLight', 200);
fontFace('Inter', '@fonts/Inter/Inter-Light', 300);
fontFace('Inter', '@fonts/Inter/Inter-Regular', 400);
fontFace('Inter', '@fonts/Inter/Inter-Medium', 500);
fontFace('Inter', '@fonts/Inter/Inter-SemiBold', 600);
fontFace('Inter', '@fonts/Inter/Inter-Bold', 700);
fontFace('Inter', '@fonts/Inter/Inter-ExtraBold', 800);

fontThin() {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
}

fontExtraLight() {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

fontLight() {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

fontRegular() {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

fontMedium() {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

fontSemiBold() {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

fontBold() {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

fontExtraBold() {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
}
