loadFont("Inter", "@fonts/Inter/Inter-Thin", 100);
loadFont("Inter", "@fonts/Inter/Inter-ExtraLight", 200);
loadFont("Inter", "@fonts/Inter/Inter-Light", 300);
loadFont("Inter", "@fonts/Inter/Inter-Regular", 400);
loadFont("Inter", "@fonts/Inter/Inter-Medium", 500);
loadFont("Inter", "@fonts/Inter/Inter-SemiBold", 600);
loadFont("Inter", "@fonts/Inter/Inter-Bold", 700);
loadFont("Inter", "@fonts/Inter/Inter-ExtraBold", 800);

fontThin() {
    font-weight: 100;
    font-family: Inter, sans-serif;
}

fontExtraLight() {
    font-weight: 200;
    font-family: Inter, sans-serif;
}

fontLight() {
    font-weight: 300;
    font-family: Inter, sans-serif;
}

fontRegular() {
    font-weight: 400;
    font-family: Inter, sans-serif;
}

fontMedium() {
    font-weight: 500;
    font-family: Inter, sans-serif;
}

fontSemiBold() {
    font-weight: 600;
    font-family: Inter, sans-serif;
}

fontBold() {
    font-weight: 700;
    font-family: Inter, sans-serif;
}

fontExtraBold() {
    font-weight: 800;
    font-family: Inter, sans-serif;
}
