darkTheme() {
    @media (prefers-color-scheme: dark) {
        :root:not(.__ui-theme_light) & {
            {block}
        }
    }
    :root.__ui-theme_dark & {
        {block}
    }
}

@css {
    :root {
        --color_main_rgb: 0, 0, 0;
        --color_white_rgb: 255, 255, 255;
        --color_main: rgb(var(--color_main_rgb));
        --color_main-06: rgba(var(--color_main_rgb), 0.6);
        --color_secondary: #808080;
        --color_background: #fff;
        --color_surface: #242424;
        --color_on-surface: #333;
        --color_error: #C73825;
        --color_white: rgb(var(--color_white_rgb));
        --color_white-008: rgba(var(--color_white_rgb), 0.08);
        --color_black: #000;
        --color_hover: #B4ABED;
        --color_active: #5A45D8;
        --color_primary: #412ACB;

        /* Для звёздочек */
        --color_orange: #F8BE2A;
        --color_yellow: #FAFD67;
        --color_blue: #6791FD;
        --color_pink: #FD67CA;
    }
}

+darkTheme() {
    --color_main_rgb: 255, 255, 255;
    --color_background: #1A1818;
    --color_secondary: #A8A8A8
    --color_surface: #F5F5F5;
}
