// Transitions
$trans-300 = 0.3s

// Offsets
$offset-x = 4px
$offset-2x = $offset-x * 2
$offset-3x = $offset-x * 3
$offset-4x = $offset-x * 4
$offset-5x = $offset-x * 5
$offset-6x = $offset-x * 6
$offset-8x = $offset-x * 8
$offset-9x = $offset-x * 9
$offset-10x = $offset-x * 10
$offset-11x = $offset-x * 11
$offset-12x = $offset-x * 12

// Fonts
$font-size-h1 = 24px
$font-size-h2 = 20px
$font-size-h3 = 18px
$font-size-h4 = 15px
$font-size-h6 = 12px

// Sizes
$size-header = 54px
$size-nav = 54px
$size-button = 48px
